.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-13);
}

.avatar {
  height: 3.5rem;

  border-radius: 100%;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;

  color: var(--colour-link-text);
}

.title {
  font-size: 0.8rem;
}
