.button,
.nav-button {
  padding: var(--spacing-5) var(--spacing-13);
  border-radius: 999999px;
  border: none;

  text-decoration: none;
  cursor: pointer;
}

.nav-button {
  color: var(--colour-background-text-disabled);
}

.button,
.nav-button.enabled {
  background-color: var(--colour-primary);
  color: var(--colour-primary-text);

  font-weight: 500;
}

.nav-button.enabled {
  cursor: default;
}

.button:hover {
  background-color: var(--colour-primary-hovered);
}

.button:active {
  background-color: var(--colour-primary-active);
}

.nav-button:hover:not(.enabled) {
  background-color: var(--colour-primary-disabled);
}
