.tags {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-13);

  align-items: center;

  font-weight: bold;
}

.tag-list {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-8);

  align-items: center;

  list-style: none;
  padding: 0;
}

.tag {
  border: var(--spacing-1) solid var(--colour-border);
  border-radius: 999999px;

  padding: var(--spacing-3) var(--spacing-8);

  color: var(--colour-link-text);
}
