.container {
  display: flex;
  flex-direction: row;
}

.post {
  min-width: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-21);
  margin-top: var(--spacing-34);
}

.tags-and-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-link {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);

  align-items: center;

  font-weight: bold;
  white-space: nowrap;
  color: var(--colour-link-text);
  text-decoration: none;
}

.edit-link:hover {
  text-decoration: underline;
}

.nav {
  display: grid;
  gap: var(--spacing-21);

  grid-template-columns: 1fr 1fr;
  grid-template-areas: "newer older";
}

.newer,
.older {
  padding: var(--spacing-13);

  border: var(--spacing-1) solid var(--colour-border);
  border-radius: 1rem;

  text-decoration: none;
  font-weight: bold;
}

.newer:hover,
.older:hover {
  border-color: var(--colour-primary);
}

.newer {
  grid-area: newer;

  .nav-post-title::before {
    content: "« ";
  }
}

.older {
  grid-area: older;
  text-align: right;

  .nav-post-title::after {
    content: " »";
  }
}

.nav-heading {
  color: var(--colour-background-text-disabled);
  white-space: nowrap;
}

.nav-post-title {
  color: var(--colour-link-text);
}
