.container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-21);
}

.contents {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.breadcrumbs {
  padding: calc(var(--spacing-8) + var(--spacing-2)) 0;

  color: var(--colour-background-text-disabled);
  font-style: italic;
}
