.hero {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: calc(100vh - var(--navbar-height));

  font-size: 1.4rem;

  background-image: url("/img/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--colour-primary-text);

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  a {
    color: var(--colour-link-text-dark);
    font-weight: 450;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-21);

  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px) brightness(90%) sepia(30%) saturate(90%);
  box-shadow: var(--spacing-3) var(--spacing-3) var(--spacing-13) var(--spacing-3) rgba(0, 0, 0, 0.2);
  border: var(--spacing-2) inset rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);

  border-radius: 2rem;
  padding: 3rem 4rem;
}

.hero-image {
  height: 16rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);

  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-13);
}

.brand-image {
  display: inline;
  height: 1rem;
  margin: var(--spacing-8) 0;
}

.discord-button {
  background-color: #5865f2;
}

.discord-button:hover {
  background-color: rgba(from #5865f2 r g b / 0.8);
}

.discord-button:active {
  background-color: rgba(from #5865f2 r g b / 0.7);
}

.github-button {
  background-color: white;
}

.github-button:hover {
  background-color: rgba(from white r g b / 0.8);
}

.github-button:active {
  background-color: rgba(from white r g b / 0.7);
}
