.properties {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-21);
}

.property {
  display: grid;
  grid-template-areas:
    "type default-value"
    "description description";
  grid-template-rows: min-content min-content;
  grid-template-columns: repeat(2, 50%);
  gap: var(--spacing-8);

  position: relative;

  border: var(--spacing-1) solid var(--colour-border);
  border-radius: 1rem;

  box-shadow: 0 var(--spacing-1) var(--spacing-2) 0 var(--colour-shadow);

  padding: calc(var(--spacing-13) + var(--spacing-3));
  padding-top: var(--spacing-21);
  padding-bottom: 0;
}

.name {
  grid-area: name;

  font-weight: bold;
  font-size: 1.2rem;

  background-color: var(--colour-background);

  position: absolute;
  top: 0;
  left: var(--spacing-13);
  transform: translateY(-50%);

  width: min-content;
  min-height: min-content;
  padding: 0 var(--spacing-3);
}

.type {
  grid-area: type;
}

.default {
  grid-area: default-value;
}

.type,
.default {
  white-space: nowrap;
  font-style: italic;
}

.description {
  grid-area: description;
}
