:root {
  --body-font: Rubik;
  --impact-font: "Rubik Mono One";
  --monospace-font: "JetBrains Mono";

  font-family: var(--body-font), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}
