.markdown {
  p {
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-8);
  }

  pre {
    padding: var(--spacing-13);

    background-color: white;
    border: var(--spacing-1) solid var(--colour-border);
    border-radius: 1rem;
  }
}
