:root {
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-3: calc((3 / 16) * 1rem);
  --spacing-5: calc((5 / 16) * 1rem);
  --spacing-8: calc((8 / 16) * 1rem);
  --spacing-13: calc((13 / 16) * 1rem);
  --spacing-21: calc((21 / 16) * 1rem);

  --navbar-height: calc((60.8 / 16) * 1rem + var(--spacing-13));
}
