@use "helpers";

:root {
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-3: helpers.createSize(3);
  --spacing-5: helpers.createSize(5);
  --spacing-8: helpers.createSize(8);
  --spacing-13: helpers.createSize(13);
  --spacing-21: helpers.createSize(21);
}
