.container {
  display: flex;
  flex-direction: column;

  max-height: calc(100vh - var(--navbar-height));
  min-width: min-content;

  padding-bottom: var(--spacing-21);

  border-right: var(--spacing-1) solid var(--colour-border);
  overflow: hidden;
}

.search {
  display: flex;
  flex-direction: column;

  padding: var(--spacing-13) var(--spacing-21);
  border-bottom: var(--spacing-1) solid var(--colour-border);

  input {
    padding: var(--spacing-5) var(--spacing-8);

    color: var(--colour-input-text);
    background-color: var(--colour-input);

    border-radius: 999999px;
    border: var(--spacing-1) solid var(--colour-border);
  }
}

.scroll {
  overflow-y: scroll;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;

  padding: 0;
}

.list-item {
  list-style: none;

  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-3);

  text-decoration: none;
  white-space: nowrap;

  width: 100%;
  padding: var(--spacing-3) var(--spacing-21);
  padding-left: calc(var(--spacing-21) + var(--spacing-8));

  color: var(--colour-background-text-disabled);
}

.link:hover {
  background-color: var(--colour-surface-hovered);
}

.active {
  .link {
    color: var(--colour-surface-text);
    background-color: var(--colour-surface);

    cursor: default;
    font-weight: 500;
  }
}
