.link {
  color: var(--colour-link-text);
  text-decoration: none;
  white-space: nowrap;
}

.link:hover {
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-13);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-13);
}

.title {
  font-size: 2.5rem;
}

.time {
  font-size: 0.9rem;
  white-space: nowrap;
  color: var(--colour-background-text-disabled);
}

.thumbnail {
  border-radius: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-13);

  align-items: center;
}

.tag-list {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-8);

  align-items: center;

  list-style: none;
  padding: 0;
}

.tag {
  border: var(--spacing-1) solid var(--colour-border);
  border-radius: 999999px;

  padding: var(--spacing-3) var(--spacing-8);

  color: var(--colour-link-text);
}
