.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-3);
}

.breadcrumbs-separator {
  font-size: 0.7rem;
  opacity: 0.66;

  margin: 0 var(--spacing-2);
}
