.admonition {
  border: var(--spacing-1) solid var(--colour-border);
  border-left: var(--spacing-5) solid var(--colour-border);
  border-radius: 0.5rem;

  background: var(--colour-background-alt);
  box-shadow: 0 var(--spacing-1) var(--spacing-2) 0 var(--colour-shadow);

  padding: var(--spacing-8) var(--spacing-21) var(--spacing-8);
  margin-top: var(--spacing-13);
  margin-bottom: var(--spacing-13);
}

.admonition::before {
  display: flex;
  align-items: center;
  gap: var(--spacing-5);

  font-weight: 450;
}

.admonition.note {
  border-left-color: light-dark(#056bee, #056bee);
  background-color: light-dark(#f1f4f6, #2a2b2d);
}
.admonition.note::before {
  content: url("../../components/icons/octicons/info-16.svg") " Note";
}

.admonition.tip {
  border-left-color: light-dark(#07b616, #07b616);
  background-color: light-dark(#eef3ec, #2f312e);
}
.admonition.tip::before {
  content: url("../../components/icons/octicons/light-bulb-16.svg") " Tip";
}

.admonition.important {
  border-left-color: light-dark(#8505ee, #8505ee);
  background-color: light-dark(#f4f1f6, #2c2b2d);
}
.admonition.important::before {
  content: url("../../components/icons/octicons/report-16.svg") " Important";
}

.admonition.warning {
  border-left-color: light-dark(#eeb805, #eeb805);
  background-color: light-dark(#f6f4f1, #2c2a29);
}
.admonition.warning::before {
  content: url("../../components/icons/octicons/alert-16.svg") " Warning";
}

.admonition.caution {
  border-left-color: light-dark(#ee0505, #ee0505);
  background-color: light-dark(#f6f1f1, #2a2727);
}
.admonition.caution::before {
  content: url("../../components/icons/octicons/stop-16.svg") " Caution";
}
