.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: var(--spacing-13) var(--spacing-21);

  background-color: var(--colour-background);
  border-bottom: var(--spacing-1) solid var(--colour-border);
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: var(--spacing-13);
  padding: 0;
}

.list-item {
  list-style: none;
}

.light-dark-toggle {
  border: var(--spacing-1) solid var(--colour-border);
  border-radius: 100%;

  background: none;
  padding: var(--spacing-8);

  height: 2.5rem;
  width: 2.5rem;
}

.light-dark-toggle:hover {
  border-color: var(--colour-primary);
  background-color: var(--colour-surface-hovered);
}

.light-dark-toggle:active {
  background-color: var(--colour-surface-active);
}
