.container {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: calc(var(--navbar-height) + var(--spacing-13));

  max-height: calc(100vh - var(--navbar-height) - 2 * var(--spacing-13));
  min-width: min-content;

  overflow: hidden;
}

.search {
  display: flex;
  flex-direction: column;

  padding: var(--spacing-3);
  padding-right: var(--spacing-21);

  input {
    padding: var(--spacing-5) var(--spacing-8);

    color: var(--colour-input-text);
    background-color: var(--colour-input);

    border-radius: 999999px;
    border: var(--spacing-1) solid var(--colour-border);
  }
}

.scroll {
  overflow-y: scroll;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding-right: var(--spacing-21);
}

.scroll::before {
  content: "";
  position: sticky;
  top: 0;
  width: 100%;
  min-height: var(--spacing-21);

  background: linear-gradient(to bottom, var(--colour-background) var(--spacing-8), transparent 100%);

  z-index: 999;
  pointer-events: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);

  padding-left: 0;
}

.list-item {
  list-style: none;

  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-3);

  text-decoration: none;
  white-space: nowrap;

  width: 100%;
  border-radius: 999999px;
  padding: var(--spacing-3) var(--spacing-5);

  color: var(--colour-background-text-disabled);
  font-size: 0.8rem;
}

.link:hover {
  background-color: var(--colour-surface-hovered);
}

.active {
  .link {
    color: var(--colour-surface-text);
    background-color: var(--colour-surface);

    cursor: default;
    font-weight: 500;
  }
}

.groups {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.group {
  border: var(--spacing-1) solid var(--colour-border);
  border-radius: var(--spacing-13);

  padding: var(--spacing-8);
  padding-top: 0;
  margin-top: var(--spacing-8);
}

.group-header {
  position: relative;
  top: 0;
  transform: translateY(-50%);

  width: min-content;
  padding: 0 var(--spacing-3);
  margin-left: var(--spacing-5);

  font-size: 1.5rem;
  background-color: var(--colour-background);
}

.group-items {
  margin-top: calc(-1 * var(--spacing-13));
}

.details {
  summary {
    list-style: none;

    border-radius: 999999px;
    padding: var(--spacing-3) var(--spacing-8);

    color: var(--colour-background-text-disabled);

    cursor: pointer;
    user-select: none;
  }

  summary:hover {
    background-color: var(--colour-surface-hovered);
  }
}

.details[open] {
  > summary {
    background-color: var(--colour-surface-hovered);
    color: var(--colour-surface-text);

    font-weight: 500;
  }
}

.details-contents {
  padding: var(--spacing-5);
  padding-right: 0;
}
