.icon {
  max-width: initial;
}

:global .markdown-slim,
:global .markdown-full {
  :local .icon {
    display: inline;

    vertical-align: middle;

    @supports (vertical-align: center) {
      vertical-align: center;
    }
  }
}
